<!-- Header -->
{% include 'snippets/head.html' %}

<body>

    <!-- Sidebar -->
    {% include 'snippets/sidebar.html' %}

    <!-- Page Content -->
    <div style="margin-left:25%">

        {% include 'snippets/topbanner.html' %}

        <div class="w3-container">
            <h2>Login</h2>

            <div id="signinButton">
                <div class="g-signin2" data-onsuccess="onSuccess"></div>
            </div>
            <div id="result"></div>
        </div>
    </div>
    <script>
        var auth2;

        /**
        * Initializes the Sign-In client.
        */
        var initClient = function() {
            gapi.load('auth2', function(){
                /**
                * Retrieve the singleton for the GoogleAuth library and set up the
                * client.
                */
                auth2 = gapi.auth2.init({
                    client_id: "379148702389-ecrankkdgevk7pf8ckoa5q4ilcnn266a.apps.googleusercontent.com"
                });
                // auth2.disconnect();

                // Attach the click handler to the sign-in button
                auth2.attachClickHandler("signinButton", {}, onSuccess, onFailure);
            });
        };

        /**
        * Handle sign-in failures.
        */
        var onFailure = function(error) {
            console.log(error);
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        };

        /**
        * Handle successful sign-ins.
        */
        function onSuccess(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            if (id_token) {
                //hide sign-in button
                $('#signinButton').attr('style', 'display: none');
                //send one-time-use code to the server,
                //if the server reponds, write a 'successful' message and redirect
                //to the main rest page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{state}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: id_token,
                    success: function(result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/restaurant";
                            }, 4000);

                        } else {
                            console.log('There was an error');
                        }
                    }
                });
            }
        }

        initClient();

    </script>

</body>

</html>