<!-- Header -->
{% include 'snippets/head.html' %}

<body>

    <!-- Sidebar -->
    {% include 'snippets/sidebar.html' %}

    <!-- Page Content -->
    <div style="margin-left:25%">

        {% include 'snippets/topbanner.html' %}

        <div class="w3-container">
            <h2>Add a new book in the {{category.name}} section</h2>
            <form action= "#" method="POST">
                <p>Title:</p>
                <input type="text" size="30" name="title" placeholder="Book title" required>

                <p>Author:</p>
                <input type="text" size="30" name="author" placeholder="Author name" required>

                <p>Description:</p>
                <input type="text" size="60" name="description" placeholder="Description of the book" required><br><br>
                <input class="button" type="submit" value="Create">
                <a class="button" href="/category/{{category.id}}/list">Back</a>
            </form>

    </div>
</body>
</html>


